
.singlecoursesecond , .courseName_Des{
    display: flex;
    flex-direction: column;
    gap : 20px;
    color : white;
    margin: 60px;
    letter-spacing: 1px;
    margin-left: 0;
    
}

.courseName_Des{
     margin: 0;
}

.courseName{
    color: #ff5635;
}


@media (max-width: 750px) {
    .singlecoursesecond{
        margin: 0;
        padding: 0px 20px 50px 50px;
        background: rgba(0, 26, 53 ,1);
        display: flex;

    }
    .courseDesciption{
        font-size: 17px;
        font-weight: normal;
    }
}